html, body {
	height: 100%;
	background-color: black;
	display: flex;
	flex-direction: column;
	margin: 0 100px;
}

.header{
	background-color: #1F2937;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 100px;
}

ul {
	display: flex;
	flex-direction: row;
	list-style: none;
	gap: 16px;
}

.container {
	flex: 1;
	height: 100%;
	background-color: yellow;
	display: flex;
	flex-direction: column;
}

.first-section {
	display: flex;
	flex-direction: row;
	background-color: #1F2937;
	justify-content: space-between;
	padding: 0 100px;
}

.section-text {
	width: 50%;
	margin: 64px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
}

.section-image {
	width: 50%;
	background-color: grey;
	margin: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.second-section {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 100px;
}

.second-section-image {
	display: flex;
	flex-direction: row;
	gap: 24px;
	margin: 0 64px;
}

.image-text {
	background-color: white;
	border-style: solid;
	border-color: blue;
	border-radius: 16px;
	height: 160px;
	width: 150px;
	margin: 5 24px;
}

.third-section {
	background-color: #E5E7EB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	padding: 0 100px;
}
#quote {
	font-size: 24px;
	font-style: italic;
}
#thor {
	align-self: flex-end;
}

.last-section {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 32px;
}
.last-section-container {
	background-color: #3882F6;
	border-radius: 12px;
	width: 70%;
	display: flex;
	padding: 24px;
	flex-direction: row;
	justify-content: space-between;
}

.link {
	display: flex;
	align-self: center;
	border-radius: 8px;
	border-style: solid;
	border-color: white;
	padding: 12px;
	width: 88px;
	justify-content: center;
	align-items: center;
}

.link a {
	align-self: center;
	text-decoration: none;
	color: white;
}

.footer {
	background-color: #1F2937;
	display: flex;
	justify-content: center;
	align-items: center;
}

#header-logo {
	font-size: 24px;
	color: #F9FAF8;
}

a {
	text-decoration: none;
}

.first-section a {
	border-radius: 8px;
	background-color: #3882F6;
	color: white;
	width: 124px;
	padding: 10px;
	text-align: center;
}
.first-section p , .header p, .header a {
	color: white;
}
#main-text {
	font-size: 48px;
	font-weight: 800;
	color: #F9FAF8;
	margin: 0;
}

h3 {
	font-size: 23px;
	font-size: 12;
	color: white;
}

.text p, h2 {
	color: white;
}
